absolute() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

padding-lr(val) {
  padding-left: val;
  padding-right: val;
}

padding-tb(val) {
  padding-top: val;
  padding-bottom: val;
}

margin-lr(val) {
  margin-left: val;
  margin-right: val;
}

margin-tb(val) {
  margin-top: val;
  margin-bottom: val;
}